<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>MADO | GERÇEK LEZZETLER</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="/Themes/FranchiseMenuTheme/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/Themes/FranchiseMenuTheme/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Themes/FranchiseMenuTheme/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/Themes/FranchiseMenuTheme/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/Themes/FranchiseMenuTheme/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/Themes/FranchiseMenuTheme/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/Themes/FranchiseMenuTheme/assets/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/Themes/AdminTheme/images/icon/mado_icon.jpg">
</head>
<body>
    @RenderBody()

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <div class="logo me-auto">
                <h1><a href="/Menu/Index">MADO</a></h1>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero" style="color:#092d74;">Home</a></li>
                    <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url(/Themes/FranchiseMenuTheme/assets/img/slide/madobg.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown"><span style="color:#092d74;">GERÇEK</span> LEZZETLER</h2>
                                <p class="animate__animated animate__fadeInUp">Osman Ağa ile başlayan dondurmacılık torunları Mehmet Kanbur, Atilla Kanbur, Erdal Kanbur ile farklı bir boyut kazandı. Dondurmacılık zaman içinde sokaktan dükkana, dükkandan ülke geneline, ülkeden evrensele yol alarak dondurmacılıkta dünya markası olan MADO, 1850’den beri sizinle…</p>
                                <div>
                                    <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto" style="border-color:#092d74; ">Menu</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url(/Themes/FranchiseMenuTheme/assets/img/slide/madobg2.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Kurumsal Satış</h2>
                                <p class="animate__animated animate__fadeInUp">
                                    1850 yılından beri yüksek kalitede ürün ve hizmet anlayışıyla, geniş ürün yelpazesi ile alanında Türkiye’nin lideri olan MADO; hem butik hem de 33.000 M2’lik Kahramanmaraş’taki üretim tesisleri ile endüstriyel olarak başarıyı yakalayarak sadece el yapımı ürünleriyle değil, gelişen teknolojinin paralelinde yüksek teknolojili makinaları ile hassas hijyen koşullarında hazırlanan ürünleriyle de yıllardır aynı kalite ve lezzeti misafirleriyle buluşturmayı başarmış bir markadır.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background-image: url(/Themes/FranchiseMenuTheme/assets/img/slide/madobg3.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Vizyon</h2>
                                <p class="animate__animated animate__fadeInUp">Mado’ya adını veren Kahramanmaraş dondurmasını dünyaya tanıtmak ve Kahramanmaraş’ı dünyada adı dondurmayla anılan iki şehirden biri haline getirmek. Mado’yu bir dünya markası yaparak, tüm dünyaya Mado dondurmasını tattırabilmek.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">
        <!-- ======= Menu Section ======= -->
        <section id="menu" class="menu">
            <div class="container">

                <div class="section-title">
                    <h2>Leziz <span>Menümüze</span> Göz Atın</h2>
                </div>

                <div class="row">
                    @await Component.InvokeAsync("GetCategories")
                </div>

                <div class="row menu-container">
                    @await Component.InvokeAsync("GetFoods")
                </div>

            </div>
        </section>
        <!-- End Menu Section -->
    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>MADO</h3>
            <p>GERÇEK LEZZETLER</p>
            <div class="social-links">
                <a href="https://twitter.com/MADOglobal" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.instagram.com/madoglobal/?hl=tr" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="https://www.linkedin.com/company/madoglobal/?originalSubdomain=tr" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; 2023 <strong><span>MADO</span></strong> Bir Yaşar Dondurma ve Gıda Maddeleri A.Ş. kuruluşudur.
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="/Themes/FranchiseMenuTheme/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Themes/FranchiseMenuTheme/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/Themes/FranchiseMenuTheme/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/Themes/FranchiseMenuTheme/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/Themes/FranchiseMenuTheme/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/Themes/FranchiseMenuTheme/assets/js/main.js"></script>
</body>
</html>